*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.web-page{
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(9, 9, 83),rgb(1, 1, 48),rgb(1, 9, 19));
    padding: 5%;
}
.header h1{
    font-size: 50px;
    text-align: center;
    color: white;
    padding-bottom:  5%;
}
.slider{
    overflow: hidden;
    width:100%;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite  ;
}
@keyframes slider {
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%
    }
    45%{
        left:-100%
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%
    }
    75%{
        left:-300%
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    } 
}
.slider figure img{
    float: left;
    width: 20%;
}
.Spotlight{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.spotlight-community h1{
    text-align: center;
    font-size: 45px;
    color: white;
    padding: 3%;
}
.spotlight-community img{
    width:100%;
    min-height: 500px;
}
.spotlight-community p{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 3% 0%;
}
@media only screen and (max-width:500px){
    .header h1{
        font-size: 25px;
    }
    
    .spotlight-community h1{
        font-size: 25px;
    }
}